[Unit]
Description=EasyDeskView
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/easydeskview --service
# kill --tray and --server both
ExecStop=pkill -f "easydeskview --"
# if you want only kill one of them, you can use this below
#ExecStop=pkill -f "easydeskview --tray"
#ExecStop=pkill -f "easydeskview --server"
PIDFile=/run/easydeskview.pid
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
