[Desktop Entry]
Name=EasyDeskView
NoDisplay=true
MimeType=x-scheme-handler/easydeskview;x-scheme-handler/rustdesk;
TryExec=easydeskview
Exec=easydeskview %u
Icon=easydeskview
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=easydeskview
